<div class="welcome-page">
  <img src="assets/img/background.jpg">
  <mat-card class="welcome-card">
    <mat-card-header class="welcome-card-header">
      <mat-card-title>Welcome to FavFlix!</mat-card-title>
    </mat-card-header>
    <mat-card-actions class="welcome-card-actions">
      <button mat-raised-button (click)="openUserLoginDialog()" class="login-button" style="margin-right: 10px;"
        color="primary">
        Login
      </button>
      <button mat-raised-button (click)="openUserRegistrationDialog()" style="margin-right: 10px;" class="login-button"
        color="primary">
        Sign Up
      </button>
    </mat-card-actions>
  </mat-card>
</div>